.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  
  .search-form button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: grey;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-form button:hover {
    background-color: #e69575;
  }.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgb(69, 69, 156);
  }
  
  .search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(26, 1, 1);
    border-radius: 4px;
    width: 300px;
  }
  
  .search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e6f0e6;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-form button:hover {
    background-color: #9b5e83;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .photo-card {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .photo-card img {
    width: 100%;
    height: 70%;
  }
  
  .photo-card .info {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
  }
  
  .load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #45459c;
    color: #fff;
    cursor: pointer;
  }  

  .hidden {
    display: none;
  }


